.maindash{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
}

h1{
     position: relative;
     top: 0.3rem;
}

@media screen and (max-width:1200px){
     .maindash{
          justify-content: flex-start;
          margin-top: 2rem;
     }
 }

 @media screen and (max-width:768px){
     .maindash{
          align-items: center;
     }
 }
 